
.headshot {
    width: 225px;
    height: 275px;
}

.headshot-2 {
    width: 20rem;
    height: 20rem;
}

.title-background {
    background-image: url("../images/austin-texas-skyline.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}

.hover-zoom:hover {
    transform: scale(1.01);
}
